body {
    background-color: lightblue;
    color: midnightblue;
    font-family: "Calibri";
    font-size: 18px;
    margin: 50px 100px;
}

ol {
    background-color: aliceblue;
    border: 1px solid royalblue;
    padding: 5px 5px 5px 40px;
}

li {
    border: 1px dotted cadetblue;
    margin-left: -15px;
    padding: 20px 5px;
}

a {
    color: dodgerblue;
    margin: 0 5px;
    text-decoration: none;
}

.hint {
    display: none;
}

.answer {
    display: none;
    font-weight: bold;
}